body {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: $mainDarkGray;
  overflow-y: scroll;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

li > a {
  text-decoration: none;
  color: $mainDarkGray;
}

ul,
p {
  line-height: 2.4;
}

hr {
  position: absolute;
  display: block;
  border-top: 1px solid $mainDarkGray;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  width: 90px;
  float: left;
}

.animated-out {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
}
