.breadcrumb {
  text-align: center;

  font-size: 0.6rem;
  font-style: italic;
  color: $mediumGray;

  span {
    padding: 1.3rem 0.8rem 0.8rem 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 3;
  }

  @include atLarge {
    text-align: left;
    padding: 0 0 1.4rem 0.2rem;
  }
}
