.breadcrumb {
  text-align: center;
  padding: 3rem 0.8rem 0.8rem 0.5rem;
  font-size: 0.6rem;
  font-style: italic;
  color: $mediumGray;
  @include atLarge {
    text-align: left;
    padding: 0 0 1.4rem 0.2rem;
  }
}