input[type='submit'].btn {
  position: relative;
  padding: 15px;
  background-color: $mainDarkGray;
  color: #fff;
  width: 25%;
  float: right;
  cursor: pointer;
  outline: none;
  box-shadow: none;

  &--right {
    margin-left: auto;
  }
}
