button.btn {
  position: relative;
  padding: 0;
  background-color: transparent;
  color: $orange;
  height: 2rem;
  width: 30%;
  float: right;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: 2px solid $orange;
  transition: all 0.2s ease-out;

  &:hover,
  &:active {
    background-color: $orange;
    color: #fff;
    border: transparent;
  }

  &--right {
    margin-left: auto;
  }
}
