.column {
  width: 100%;
  display: inline-block;
  padding-bottom: 0.1rem;

  @include atSmall {
    &__medium-6 {
      float: left;
      width: 50%;
      padding: 5px;
    }
  }

  @include atLarge {
    padding-bottom: 3.75rem;

    &__large-4 {
      float: left;
      width: 33.3332%;
      padding: 5px;
    }
  }
}
