.content {
  position: absolute;
  &__image {
    padding-top: 5rem;
  }

  @include atSmallMedium {
    img {
      padding-top: 3rem;
    }
  }

  @include atMedium {
    img {
      padding-top: 0;
    }
  }

  @include atLarge {
    &--gray-bg {
      position: absolute;
      margin-top: -$wrapperPadding;
      width: $contentWidth;
      height: 100%;
      background-color: $lightGray;
    }
  }

  &__description {
    padding: 4rem 0.9375rem 3.75rem 0.9375rem;

    @include atLarge {
      padding: 0 0.9375rem 3.75rem 0.9375rem;
    }
  }

  &__title {
    margin: 0;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 400;
    padding-bottom: 2.375rem;

    &--secondary {
      color: $mediumGray;
      display: inline-block;
      padding-left: 0.5rem;
    }
  }

  &__paragraph {
    font-size: 0.875rem;
    //padding-bottom: 5.75rem;

    span {
      font-family: 'Open Sans', sans-serif !important;
    }

    &--less-padding {
      padding-bottom: 3.75rem;
    }

    &--push-down {
      margin-top: 90px;
    }
  }

  @include atLarge {
    margin-left: 25%;

    &__description {
      padding: 6.1875rem 0 5.75rem 0;
    }

    &__title {
      padding-bottom: 2.375rem;
    }
  }
}
