.contact-form {
  padding-left: 1.5rem;
  position: relative;
  width: max-content;
  top: -50%;
  z-index: 0;
  transform: translateY(30%);
  padding-left: 2rem;

  @include atSmall {
    padding-left: 4.5rem;
  }

  @include atSmallMedium {
    padding-left: 11.5rem;
  }

  @include atLarge {
    padding-left: 7.5rem;
    top: 50%;
    transform: translateY(-50%);
  }

  &__input {
    padding-bottom: 2rem;

    input,
    textarea {
      background-color: transparent;
      display: block;
      border-bottom: solid 1px $mediumGray;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      font-style: italic;
      width: 19.375rem;
      margin-bottom: 0.5rem;
      transition: border-bottom 0.5s ease-out;

      &:focus {
        outline: none;
        border-bottom: solid 1px $mainDarkGray;
      }

      &.error {
        border-bottom: solid 1px #dc3545;
      }
    }

    span {
      color: #dc3545;
    }
  }

  &__result {
    display: flex;
    justify-content: center;
    height: 3.25rem;
    max-height: 3.25rem;
  }
}