.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;

  &__logo {
    margin: 25% 0 0 1.25rem;
    transform: scale(0.8);
  }

  &__menu {
    margin-top: 20%;
    flex-grow: 1;

    ul {
      list-style: none;

      ul {
        padding: 0 0 0 1rem;
        li {
          line-height: 1.8;
        }
      }
    }
  }

  @include atSmallMedium {
    &__logo {
      transform: scale(1);
    }

    &__menu {
      margin-top: 70%;
      flex-grow: 1;
    }
  }

  @include atMedium {
    &__menu {
      margin-top: 40%;
      flex-grow: 1;
    }
  }

  @include atLarge {
    @include atPortrait {
      &__menu {
        margin-top: 140% !important;
      }
    }

    &__logo {
      margin: 0 0 0 1.25rem;
      transform: scale(1);
    }

    &__menu {
      margin-top: 30%;
      flex-grow: 1;

      ul {
        padding: 0 0 0 1rem;
        line-height: 1.6;
      }
    }
  }
}
