.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: space-between;

  &__logo {
    margin: 25% 0 0 1.25rem;
  }

  &__menu {
    // flex-grow: 1;

    ul {
      list-style: none;

      li > a,
      span {
        border-left: 2px solid transparent;
        padding-left: 8px;
        cursor: pointer;
      }

      .current-page {
        border-left: 2px solid $mainDarkGray;
        transition: border-left 0.5s;
      }

      ul {
        padding: 0 0 0 1rem;

        li {
          line-height: 1.8;
          cursor: pointer;
        }
      }
    }

    .categories-menu {
      overflow: hidden;
      visibility: hidden;
      max-height: 0;
      opacity: 0;
      z-index: 2;
      transition: all 0.3s ease-in-out;
      transform-origin: top left;

      li {
        font-size: 0.8rem;
        font-style: italic;

        a {
          color: $mediumGray;
        }
      }

      &--visible {
        visibility: visible;
        max-height: 20rem;
        opacity: 1;
      }
    }
  }

  @include atSmallMedium {
    &__logo {
      transform: scale(1);
    }

    &__menu {
      // margin-top: 70%;
      // flex-grow: 1;
    }
  }

  @include atMedium {
    overflow-y: hidden;

    &__menu {
      // margin-top: 40%;
      // flex-grow: 1;
    }
  }

  @include atLarge {
    @include atPortrait {
      &__menu {
        // margin-top: 140% !important;
      }
    }

    &__logo {
      margin: 0 0 0 0;
      transform: scale(1);
    }

    &__menu {
      // margin-top: 50%;
      flex-grow: 3;

      ul {
        padding: 0;
        line-height: 1.6;
      }
    }
  }
}
