.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  &__logo {
    margin: 25% 0 0 1.25rem;
  }

  &__menu {
    position: fixed;
    top: 60%;
    transform: translateY(-60%);

    ul {
      list-style: none;

      li > a,
      span {
        border-left: 2px solid transparent;
        padding-left: 8px;
        cursor: pointer;
      }

      .current-page {
        border-left: 2px solid $mainDarkGray;
        transition: border-left 0.5s;
      }

      ul {
        padding: 0 0 0 1rem;

        li {
          line-height: 1.8;
          cursor: pointer;
        }
      }
    }

    .categories-menu {
      overflow: hidden;
      visibility: hidden;
      max-height: 0;
      opacity: 0;
      z-index: 2;
      transition: all 0.3s ease-in-out;
      transform-origin: top left;

      li {
        font-size: 0.8rem;
        font-style: italic;

        a {
          color: $mediumGray;
        }
      }

      &--visible {
        visibility: visible;
        max-height: 20rem;
        opacity: 1;
      }
    }
  }

  &__copyright {
    font-size: 0.5rem;
    font-style: italic;
    color: $mediumGray;
    position: absolute;
    bottom: 0;
    text-align: left;
    margin-left: 40px;

    span {
      display: block;
      margin-left: -4px;
    }

    svg {
      float: left;
      margin-left: -1rem;
    }
  }

  @include atSmallMedium {
    &__menu {
      top: 50%;
      transform: translateY(-50%);

      ul {
        padding: 0;
      }
    }

    &__copyright {
      bottom: 3rem;
      margin-left: 0;

      span {
        display: block;
        margin-left: 0;
      }

      svg {
        float: left;
        margin-left: -1rem;
      }
    }
  }

  @include atMedium {
    overflow-y: hidden;
  }

  @include atLarge {
    &__logo {
      margin: 0 0 0 0;
    }

    &__menu {
      ul {
        padding: 0;
        line-height: 1.6;
      }
    }

    &__copyright {
      font-size: 0.7rem;
      bottom: $wrapperPadding;
      margin-bottom: 2.5rem;
    }
  }
}
