.social-icons {
  text-align: left;
  margin-bottom: 6.125rem;
  margin-left: 1.25rem;

  &__icon {
    display: inline-block;
    position: relative;

    @include atSmall {
      width: 32px;
      margin: 0 5px;
    }

    .icon {
      display: block;
    }
  }
}
