.social-icons {
  text-align: left;
  margin-bottom: 1.5rem;

  &__icon {
    display: inline-block;
    position: relative;
    padding: 7px;

    @include atSmall {
      width: 32px;
    }

    .icon {
      display: block;
      fill: #333;
    }
  }

  @include atSmallMedium {
    position: absolute;
    bottom: 4rem;
    margin-bottom: 0;
    margin-left: 0;
  }

  @include atLarge {
    margin-bottom: 1.5rem;
  }
}