body {
  font-family: 'Open Sans', sans-serif;
  color: $mainDarkGray;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

li > a {
  text-decoration: none;
  color: $mainDarkGray;
}
