body {
  font-family: 'Open Sans', sans-serif;
  color: $mainDarkGray;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

li > a {
  text-decoration: none;
  color: $mainDarkGray;
}

ul, p {
  line-height: 1.6;
}

@mixin atMedium {
  ul, p {
    line-height: 2.4;
  }
}

  hr {
    display: inline;
    width: 90px;
    color: $mainDarkGray;
    float: left;
    padding-bottom: 2.8125rem;
  }

