$mainDarkGray: #333333;
$mediumGray: #9A9A9A;
$lightGray: #FAFAFA;
$wrapperPadding: 4.25rem;
$smallPadding: calc($wrapperPadding - 2rem);
$socialIconHeight: calc($wrapperPadding + 2rem);
$contentWidth: calc(75% - $wrapperPadding);