.header {
  display: block; 
  
  @mixin atLarge {
    display: none;
  }
  
  &__logo {
    float: left;
    max-width: 
  }
  
    &__menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;

    &::before {
      content: "";
      position: absolute;
      top:0;
      left:0;
      width: 20px;
      height: 3px;
      background-color: $mainDarkGray;
      transform-origin: 0 0;
      transition: transform .3s ease-out;
    }

    &__middle {
      position: absolute;
      top:8px;
      left:0;
      width: 20px;
      height: 3px;
      background-color: $mainDarkGray;
      transition: all .3s ease-out;
      transform-origin: 0 50%;
    }

    &::after {
      content: "";
      position: absolute;
      bottom:0;
      left:0;
      width: 20px;
      height: 3px;
      background-color: $mainDarkGray;
      transform-origin: 0 100%;
      transition: transform .3s ease-out;
    }
  }
  
  &__menu-icon--close-x {
  &::before {
    transform: rotate(45deg) scaleX(1.25);
  }

  .header__menu-icon__middle {
    opacity: 0;
    transform: scaleX(0);
  }

  &::after {
    transform: rotate(-45deg) scaleX(1.25) translateY(1px);
  }
}
  
  &__menu-content {
    display: none;
    transition: display 0.5s ease-out;
    
    ul {
      padding: 0;
      text-align: center;
      list-style: none;
      
      li {
        margin: 0 auto;
      }
    }
    
    &--is-visible {
      display: block;
      padding-top: 123px;
    }
  }
  
  
}