.social-icons {
  position: absolute;
  text-align: left;
  bottom: 0;

  &__icon {
    display: inline-block;
    position: relative;

    @mixin atSmall {
      width: 32px;
      margin: 0 5px;
    }

    .icon {
      display: block;
      position: absolute;
    }
  }
}
